pillow
wxpython
accessible_output2
pyinstaller
sounddevice
soundfile
appdirs
PyWin32; sys_platform == 'win32'
PyObjC; sys_platform == 'darwin'
llama-index-core
llama-index-embeddings-openai-like
llama-index-readers-file
llama-index-readers-web
docx2txt
cryptography
openai
requests
tiktoken
MainContentExtractor
EbookLib
html2text
transformers
