ollama
pyinstaller
sounddevice
soundfile
wxpython
numpy
appdirs
llama-index.core
llama-index-llms-ollama
llama-index-embeddings-huggingface
llama-index-embeddings-ollama
llama-index-readers-file
llama-index-readers-web
torch
transformers
pypdf
docx2txt
cryptography